<div class="list-container">

  <div class="buttons">
    <button class="button is-primary" (click)="onAddTodo()">+ Add Todo</button>
  </div>

  <div class="search-bar-container">
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="text" placeholder="Filter" name="search" [(ngModel)]="searchText" #search>
      <span class="icon is-small is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
  </div>


@for (item of toDosSignal() | filter: searchText; track $index) {
  <app-todo-card
  [todo]="item"
  (edit)="isActive = true; selectedTodo = item"
  ></app-todo-card>
}

<!-- <div>

  <button class="button is-light">Back</button>
  <button class="button is-primary">Next</button>
</div> -->

</div>

<app-add-todo-modal
  [isActive]="isActive"
  [todo]="selectedTodo"
  (changeIsActive)="isActive = $event"
  (saveTodo)="onSave()"
></app-add-todo-modal>
